<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="lastName">Enter LastName: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br>
    <label for="email">Enter Email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>