<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form th:method="GET" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>
<br/>

<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="lastName">Enter LastName: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br>
    <label for="email">Enter Email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>