<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="${user.getId()}">VALUE</p>
<p th:text="${user.getName()}">VALUE</p>
<p th:text="${user.getLastName()}">VALUE</p>
<p th:text="${user.getEmail()}">VALUE</p>
<br/>
<form th:method="GET" th:action="@{/users/{id}/edit(id=${user.getId()})}">
    <input type="submit" value="Edit"/>
</form>
<br>
<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
<br>
<form th:method="GET" th:action="@{/users}">
    <input type="submit" value="Back"/>
</form>
</body>
</html>

