<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form th:method="GET" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>
<br/>

<div>
    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>
</div>
<hr/>
<form th:method="GET" th:action="@{/admin}">
    <input type="submit" value="Enter"/>
</form>



</body>
</html>